html {
  height: 500px;
}

body {
  background-color: whitesmoke;
 height
}
.container {
 margin-top: 20px;
 padding: 15px 30px 0 30px;
 border-radius: 30px;
 background-color: white;
}
 
#nav {
 margin: 0 0 0 0;
 
}
 
#nav ul li {
 display: inline;
 margin: 0 10px 0 0;
 
}
 
#nav a {
 text-decoration: none;
 font-weight: bold;
 color: black;
}
 
#nav a:hover {
 color: red;
}

.nav-right {
  float: right;
}
.grey_line {
    display: block;
    width: 100%;
    border-bottom: 1px solid red;
    border-top: 5px solid #ccc;
    padding: 0;
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }



/* ---- grid ---- */

.grid {
  margin: 0 auto;
  background: #EEE;
  max-width: 550px;
  max-height: 500px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */


.grid-sizer,
.grid-item {
  width: 20%;
}


.grid-item {
  width: 100px;
  height: 100px;
  float: left;
  background: white;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
